click==8.0.4
cssmin==0.2.0
dataclasses==0.8
Flask==2.0.3
Flask-Assets==2.0
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
jsmin==3.0.1
lesscpy==0.15.0
MarkupSafe==2.0.1
pkg-resources==0.0.0
ply==3.11
python-dotenv==0.20.0
six==1.16.0
typing-extensions==4.1.1
webassets==2.0
Werkzeug==2.0.3
zipp==3.6.0
